@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    /* Global color variables */
    --primary-color: #F8F7F3;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--primary-color);
}

h1 {
    text-align: center;
}

.recipes {
    text-align: center;
    list-style: none;
    padding: 0;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}